@model List<WRKT.Models.TimeSlots>;
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <ol>
        @foreach (var item in Model)
        {
        <li>
            <label>EmployeeID: @item.EmployeeID</label><br />
            <label>Start Hour: @item.StartHour.ToLongTimeString()</label><br />
            <label>Finish Hour: @item.FinishHour.ToShortTimeString() </label><br />
            <label>Date: @item.StartHour.ToShortDateString()</label><br />
            
            <label>Approved?</label>
            <input type="checkbox" />
        </li>
        }
    </ol>
    <input type="submit" name="Review" value="Submit"  onclick="location.href='@Url.Action("Index", "Home")'"/>
</div>